.section {
  padding: 32px 0;
  &__title {
    color: $light;
    text-transform: uppercase;
    margin: 0px 0px 64px 94px;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      left: 0;
      top: 50%;
      transform: translate(-94px, -50%);
      background: $secondary;
      box-shadow: 0px 10px 35px rgba(255, 61, 0, 0.55);
    }
  }
}
@include tablet {
  .section__title {
    text-align: center;
    margin: 0 auto 32px;
    &::before {
      display: none;
    }
  }
}
/*****Contacts*****/
.contacts {
  background: $dark;
  &__map {
    width: 62%;
    margin-right: 32px;
  }
  &__wrap {
    display: flex;
  }
  &__list_wrap {
    width: 36%;
  }
  &__list {
    margin-bottom: 32px;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    color: $light;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item_content {
    color: $light;
  }
  &__item_content-link {
    color: $light;
    transition: .35s;
    &:hover {
      color: $secondary;
      transition: .35s;
    }
  }
  &__item_icon {
    margin-right: 16px;
  }
  &__social_list {
    display: flex;
    margin-bottom: 32px;
  }
  &__social_item {
    margin-right: 32px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__social_link-vk {
    font-size: 27px;
  }
}
.route__btn {
  width: 100%;
  color: $light;
  display: block;
  text-align: center; 
  text-transform: uppercase;
  padding: 16px 0;
}
.route__btn_ya {
  background: $default;
  transition: .35s;
  margin-bottom: 32px;
  &:hover {
    background: $default_d3;
    color: $light;
    transition: .35s;

  }
}
.route__btn_google {
  background: $secondary;
  transition: .35s;
  &:hover {
    background: $secondary_d3;
    color: $light;
    transition: .35s;

  }
}
@include tablet {
  .contacts__wrap {
    flex-direction: column;
  } 
  .contacts__map {
    width: 100%;
    margin-right: 0;
    height: 400px;
    margin-bottom: 32px;
  }
  .contacts__list_wrap {
    width: 100%;
  }
}
@include phones {
  .contacts__map {
    height: 237px;
  }
  .contacts__social_list {
    justify-content: center;
  }
}

/*****Main Screen*****/

.main-screen {
  position: relative;
  padding: 117px 0;
  overflow: hidden;
  &__video {
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: auto;
    // z-index: -2;
  }
  &__video_bg {
    background: #121212;
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__video-overlay-bg {
    background: $dark;
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  &__offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  &__offer_text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__offer_title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    text-transform: uppercase;
    color: $dark_9;
    text-align: center;
  }
  &__offer_subtitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    text-transform: uppercase;
    color: $secondary;
    margin-bottom: 32px;
  }
  &__offer_stock {
    background: rgba(74, 139, 153, 0.75);
    padding: 16px 32px;
    display: flex;
    align-items: center;
  }
  &__offer_stock_wrap {
    display: flex;
    align-items: center;
  }
  &__offer_stock_image {
    width: 150px;
    height: 150px;
    margin-right: 32px;
  }
  &__offer_stock_description {
    max-width: 366px;
    margin-right: 64px;
    > p {
        color: $light;
    }
    > span {
      color: $secondary;
      text-transform: uppercase;
    }
  }
  &__offer_stock_btn {
    color: $light;
    background: $secondary;
    padding: 16px 32px;
    transition: .35s;
    text-transform: uppercase;
    &:hover {
      background: $secondary_d3;
      color: $light;
      transition: .35s;
    }
  }
}
@include desktop {
  .main-screen {
    padding: 72px 0;
  }
  .main-screen__offer_title, .main-screen__offer_subtitle {
    font-size: 46px;
    line-height: 54px;
  }
}
@include laptop {
  .main-screen__offer_subtitle, .main-screen__offer_title {
    font-size: 37px;
    line-height: 47px;
  }
}
@media screen and (max-width: 890px) {
  .main-screen__offer_stock {
    flex-direction: column;
  }
  .main-screen__offer_stock_wrap {
    margin-bottom: 32px;
  }
  .main-screen__offer_stock_description {
    margin-right: 0;
    width: 60%;
  }
}
@include tablet {
  .main-screen__video {
    display: none;
  }
  .main-screen {
    background: url(../img/main-screen/main-screen-mobile-bg.jpg) no-repeat center center/cover;
  }
  .main-screen__offer_text {
    background: $secondary;
    padding: 16px;
    width: 100%;
  }
  .main-screen__offer_title {
    color: $dark;
  }
  .main-screen__offer_title-span {
    display: block;
    color: $light;
  }
  .main-screen__offer_subtitle {
    color: $light;
  }
  .main-screen__offer_stock {
    width: 100%;
  }
}
@include phones {
  .main-screen__offer_subtitle, .main-screen__offer_title {
    font-size: 25px;
    line-height: 32px;
  }
  .main-screen__offer_stock_image {
    width: 40%;
    height: auto;
  }
} 

/*****Advantages*****/

.advantages {
  background: $dark_3 url(../img/advantages/advantages-bg.png)no-repeat center center/cover;
  padding: 64px 0;
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    height: 250px;
    width: 50%;
    display: flex;
    align-items: center;
  }
  &__item-default {
    flex-direction: column;
    justify-content: center;
    > p {
      color: $light;
    }
    > span {
      color: $dark;
    }
  }
  &__item-dark {
    background: $dark;
    justify-content: space-around;
  }
  &__item_image {
    max-width: 250px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__item_image_text {
    text-align: center;
    color: $light;
  }
}
@include tablet {
  .advantages {
    background: $dark_3;
    padding: 32px 0 0;
  }
  .advantages__item {
    width: 100%;
    height: 200px;
    padding: 16px;
  }
  .advantages__item_image_text-lock {
    max-width: 120px;
  }
  .advantages >.container-fluid {
    padding: 0;
  }
  .advantages__title {
    max-width: 222px;
  }
  .advantages__item-dark {
    align-items: start;
  }
}
@include phones {
  .advantages__item {
    height: 161px;
    
  }
  
  .advantages__item_image_icon {
    width: 75px;
  }
}

/*****Car Brands*****/
.car-brands {
  background: url(../img/car-brands/car-brands-bg.jpg) no-repeat center center/cover;
  padding: 47px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &__btn {
    padding: 16px 32px;
    background: $secondary;
    box-shadow: 0px 10px 35px rgba(255, 61, 0, 0.55);
    color: $light;
    transition: .35s;
    text-align: center;
    text-transform: uppercase;
  }
}
@include phones {
  .car-brands {
      background: url(../img/car-brands/car-brands-mobile-bg.jpg) no-repeat center center/cover;
  }
  .car-brands__btn {
    width: 288px;
  }
}

/*****Warranty*****/
.warranty {
  background: $dark;
  &__wrap {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  &__image {
    width: 50%;
    
    // background: url(../img/warranty/warranty.png) no-repeat center center/100% auto;
  }
  &__description_wrap {
    width: 40%;
    display: flex;
    align-items: center;
  }
  &__description {
    color: $light;
    text-align: right;
    > span {
      color: $secondary;
    }
  }
  &__description_icon {
    width: 30px;
    display: none;
  }
}
@include tablet {
  .warranty {
    background: url(../img/warranty/warranty-mobile-bg.jpg) no-repeat center center/cover;
    padding: 123px 0;
    >.container-fluid {
      padding: 0;
    }
  }
  .warranty__image {
    display: none;
  }
  .warranty__description_wrap {
    padding: 32px 16px;
    background: $secondary;
    width: 100%;
    display: block;
  }
  .warranty__description {
    color: $dark;
    text-align: center;
    >span {
      color: $light
    }
  }
  .warranty__description_icon {
    display: block;
    margin: 0 auto 10px;
  }
}

/*****Main Form*****/
.main-form {
  background: $secondary;
  // padding: 32px 0;
  &__bg {
    width: 100%;
    height: 100%;
    background: url(../img/main-form/main-form-bg.png) no-repeat center center/auto 100%;
  }
  &__form {
    padding: 32px 0;
  }
  &__title {
    color: $light;
    margin-bottom: 32px;
  }
  &__input {
    width: 100%;
    height: 56px;
    padding: 16px;
    border: .5px solid $dark_5;
    margin-bottom: 16px;
    &::placeholder {
      color: $dark_7;
    }
  }
  &__select {
    background: #fff url(../img/icons/form-arrow.svg) no-repeat calc(100% - 16px) center/20px 10px;
    cursor: pointer;
    color: $dark;
  }
  &__payment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 56px;
  }
  &__payment_title {
    color: $light;
  }
  &__payment_list {
    display: flex;
    justify-content: space-between;
  }
  &__payment_label {
    display: flex;
    align-items: center;
    cursor: pointer;
    >.main-form__checkbox:checked + .main-form___checkbox-span {
      background: $default;
    }
  }
  &__payment_span {
    color: $light;
  }
  &__checkbox {
    position: absolute;
    left: 0;
    visibility: hidden;
  }
  &___checkbox-span {
    display: block;
    min-width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $light;
    border: 1px solid $dark;
    margin-right: 8px;
  }
  &__btn {
    padding: 16px 32px;
    background: $dark;
    text-transform: uppercase;
    border: none;
    outline: none;
    color: $light;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    margin-right: 32px;
  }
}
@include laptop {
  .main-form__btn {
    font-size: 16px;
    line-height: 20px;
  }
  .main-form__input {
    font-size: 14px;
    line-height: 17px;
  }
}
@include tablet {
  .main-form {
    background: $dark;
  }
  .main-form__title {
    text-align: center;
    >span {
      display: block;
      color: $secondary;
    }
  }
  .main-form__btn {
    background: $secondary;
    margin: 0 auto 8px;
    width: fit-content;
    display: block;
  }
  .main-form__accept {
    color: $light;
    text-align: center;
  }
}
@include phones {
  .main-form__input {
    margin-bottom: 32px;
    height: 49px;
  }
  .main-form__payment {
    height: auto;
    margin-bottom: 32px;
  }
  .main-form__payment_title {
    margin-bottom: 16px;
  }
  .main-form__payment_label {
    margin-bottom: 8px;
  }
  .main-form__payment_list {
    flex-direction: column;
  }

}
/*****Options*****/
.options {
  background: $dark_3 url(../img/options/options-bg.jpg) no-repeat left 100%;
  &__slide {
    width: 25%;
  }
  &__container {
    margin-bottom: 32px;
  }
  &__column_desc_title {
    height: 72px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $light;
    text-transform: uppercase;
    border: 0.5px solid $dark_7;
  }
  &__column_desc_item {
    height: 72px;
    width: 100%;
    background: $light;
    display: flex;
    align-items: center;
    padding: 16px;
    color: $dark;
    border: 0.5px solid $dark_7;
  }
  &__column_desc_item-dark {
    background: $dark_9;
  }
  &__column_desc_item-res {
    height: 88px;
    padding: 16px;
    display: flex;
    align-items: center;
    color: $secondary;
  }
  &__column_tariff_title {
    background: $dark;
    color: $light;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    text-transform: uppercase;
  }
  &__column_tariff_item {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $light;
    border: .5px solid $dark_7;
  }
  &__column_tariff_item-price {
    background: $default;
    color: $light;
  }
  &__column_tariff_item-default {
    background: $default_l4;
  }
  &__column_tariff_item-dark {
    background: $dark_9;
  }
  &__column_tariff_item-br {
    border-right: none;
  }
  &__column_tariff_item-brl {
    border-right: none;
    border-left: none;
  }
  &__column_tariff_item-bl {
    border-left: none;
  }
  &__column_tariff_btn {
    height: 88px;
    padding: 16px;
    border: .5px solid $dark_7;
  }
  &__column_tariff_btn-light {
    background: $light;
  }
  &__btn {
    text-transform: uppercase;
    color: $light;
    padding: 16px 0;
    max-width: 313px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $secondary;
    transition: .35s;
    &:hover {
      background: $secondary_d3;
      color: $light;
      transition: .35s;
    }
  }
  &__slider_button {
    width: 10px;
    height: 21px;
    position: absolute;
    top: 50%;
    z-index: 2;
    outline: none;
    cursor: pointer;
  }
  &__button-prev {
    left: 0;
    transform: translate(-16px, -50%);
  }
  &__button-next {
    right: 0;
    transform: translate(16px, -50%);
  }
  &__swiper-pagination_wrap {
    display: none;
  }
  &__swiper-pagination {
    display: flex;
    width: fit-content;
    height: 10px;
    margin: 0 auto;
    position: relative;
    outline: none;
  }
  &__swiper_bullet {
    width: 10px;
    height: 10px;
    margin-right: 16px;
    background: $light;
    &:last-child {
      margin-right: 0;
    }
    &:focus {
      outline: none;
    }
    &:active {
      outline: none;
    }
    &:hover {
      outline: none;
    }
  }
  &__swiper_bullet-active {
    background: $secondary;
    outline: none;
  }
  &__offer {
    padding: 16px;
    background: $default;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
  }
  &__offer_text {
    width: 50%;
  }
  &__offer_title {
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  &__offer_description {
    color: $light;
  }
  &__offer_order {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
  }
  &__offer_order_price {
    max-width: 218px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__offer_order_btn {
    padding: 16px 32px;
    background: $dark;
    color: $light;
    text-transform: uppercase;
    transition: .35s;
    text-align: center;
    &:hover {
      background: $dark_7;
      color: $light;
      transition: .35s;
    }
  }
  &__note {
    color: $light;
  }
  &__note_link {
    color: $light;
    transition: .35s;
    &:hover {
      color: $secondary;
      transition: .35s;
    }
  }
  &__mobile {
    display: none;
  }
}
@media screen and (max-width: 1100.5px) {
  .options__offer, .options__offer_order {
    flex-direction: column;
    align-items: center;
  }
  .options__offer_title, .options__offer_description, .options__note {
    text-align: center;
  }
  .options__offer_description, .options__offer_order_price {
    margin-bottom: 16px;
  }
}
@include tablet {
  .options {
    background: $dark_3;
  }
  .options__offer_text {
    width: 100%;
  }
}
@media screen and (max-width: 747.5px) {
  .options__slide {
    width: 100%;
  }
  .options__swiper-pagination_wrap {
    display: block;
    position: relative;
    padding: 0 32px;
    width: fit-content;
    margin: 0 auto 32px;
  }
  .options__slide_desc {
    display: none;
  }
  .options__column_tariff_title, .options__column_tariff_item {
    flex-direction: column;
  }
  .options__mobile-title {
    text-transform: capitalize;
  }
  .options__mobile {
    display: block;
    margin-bottom: 4px;
    text-align: center;
  }
  // .options__column_tariff_item-br {
  //   border-right: 0.5px solid $dark_7;
  // }
  // .options__column_tariff_item-brl {
  //   border-right: 0.5px solid $dark_7;
  //   border-left: 0.5px solid $dark_7;
  // }
  // .options__column_tariff_item-bl {
  //   border-left: 0.5px solid $dark_7;
  // }
  .options__column_tariff_btn {
    height: auto;
  }
  .options__mobile-secondary {
    color: $secondary;
  }
  .mobile-light {
    background: $light;
  }
  .mobile-default {
    background: $default_l4;
  }
}
/*****Motivation*****/
.motivation {
  background: $dark;
  padding: 64px 0 32px;  
  &__item_icon {
    width: 138px;
    height: 75px;
    margin: 0 auto 32px;
  }
  &__item_title {
    color: $light;
    text-align: center;
    margin-bottom: 8px;
  }
  &__item_description {
    color: $light;
    text-align: center;
    max-width: 289px;
    margin: 0 auto 32px;
  }
}
/*****Works*****/
.works {
  background: $dark_3;
  padding: 64px 0;
  &__slider {
    position: relative;
    margin-bottom: 48px;
  }
  &__slide_image {
    margin-bottom: 16px;
  }
  &__slide_title {
    color: $light;
    text-align: center;
    margin-bottom: 16px;
  }
  &__slide_btn {
    text-transform: uppercase;
    color: $light;
    padding: 16px 32px;
    background: $secondary;
    display: block;
    width: fit-content;
    margin: 0 auto;
    transition: .35s;
    &:hover {
      background: $secondary_d3;
      color: $light;
      transition: .35s;
    }
  }
  &__slider_button {
    width: 10px;
    height: 21px;
    position: absolute;
    top: 50%;
    z-index: 2;
    outline: none;
    cursor: pointer;
  }
  &__button-prev {
    left: 0;
    transform: translate(-16px, -50%);
  }
  &__button-next {
    right: 0;
    transform: translate(16px, -50%);
  }
  &__swiper-pagination_wrap {
    position: relative;
    padding: 0 32px;
    width: fit-content;
    height: auto;
    margin: 0 auto;
    // display: none;
  }
  &__swiper-pagination {
    // display: flex;
    width: fit-content!important;
    margin: 0 auto;
    position: relative;
    outline: none;
    
  }
  &__swiper_bullet {
    width: 10px;
    height: 10px;
    margin: 4px 8px;
    background: $light;
    display: inline-block;
    // &:last-child {
    //   margin-right: 0;
    // }
    &:focus {
      outline: none;
    }
    &:active {
      outline: none;
    }
    &:hover {
      outline: none;
    }
  }
  &__swiper_bullet-active {
    background: $secondary;
    outline: none;
  }
}
@include laptop {
  .works__button-prev {
    transform: translate(0, -50%);
  }
  .works__button-next {
    transform: translate(0, -50%);
  }
}
.works__gallary {
  display: none;
  padding: 0;
}
/*****Present*****/
.present {
  background: $dark;
  &__wrap {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  &__image {
    width: 50%;
    
    // background: url(../img/warranty/warranty.png) no-repeat center center/100% auto;
  }
  &__description_wrap {
    width: 37%;
    display: flex;
    align-items: center;
  }
  &__description {
    color: $light;
    text-align: right;
    > span {
      color: $secondary;
    }
  }
  &__description_icon {
    width: 30px;
    display: none;
  }
}
@include tablet {
  .present {
    background: url(../img/warranty/warranty-mobile-bg.jpg) no-repeat center center/cover;
    padding: 123px 0;
    >.container-fluid {
      padding: 0;
    }
  }
  .present__image {
    display: none;
  }
  .present__description_wrap {
    padding: 32px 16px;
    background: $secondary;
    width: 100%;
    display: block;
  }
  .present__description {
    color: $dark;
    text-align: center;
    >span {
      color: $light
    }
  }
  .present__description_icon {
    display: block;
    margin: 0 auto 10px;
  }
}
// .present {
//   background: $dark url(../img/present/present-bg.png) no-repeat calc(50% - 250px)/auto 100%;
//   color: $light;
//   &__title {
//     margin: 59px 0;
//     text-align: right;
//     > span {
//       color: $secondary;
//     }
//   }
//   &__title_icon {
//     display: block;
//     margin: 0 auto 10px;
//     width: 30px;
//     display: none;
//   }
// }
// @include tablet {
//   .present {
//     padding: 135px 0;
//     background: url(../img/present/present-mobile-bg.jpg) no-repeat center center/cover;
//   }
//   .present__title {
//     margin: 0;
//     text-align: center;
//     color: $dark;
//     text-transform: uppercase;
//     >span {
//       color: $light;
//     }
//   }
//   .present__title_wrap {
//     padding: 32px 0;
//     background: $secondary;
//   }
//   .present__title_icon {
//     display: block;
//   }
// }
/*****Proc*****/
.proc {
  background: $dark_3 url(../img/proc/proc-bg.png) no-repeat calc(50% + 500px)/auto 100%;

  &__wrap {
    margin: 66px 0;
  }
  &__wrap_quotes {
    width: 27px;
    margin-bottom: 16px;
  }
  &__title {
    text-transform: uppercase;
    color: $light;
    position: relative;
    margin-bottom: 48px;
    &:after {
      content: "";
      display: block;
      height: 1px;
      width: 288px;
      background: $light;
      position: absolute;
      left: 0;
      top: 100%;
      transform: translate(0, 16px);
    }
  }
  &__description {
    color: $light;
  }
  &__bg {
    width: 100%;
    height: 100%;
  }
}
@include tablet {
  .proc {
    background: $dark_3;
  }
  .proc__wrap {
    margin: 32px 0;
  }
}
/*****Callback*****/

.callback {
  background: $secondary;
  &__bg {
    width: 100%;
    height: 100%;
    background: url(../img/callback/callback-bg.png) no-repeat center center/auto 100%;
  }
  &__title {
    text-transform: uppercase;
    margin-bottom: 8px;
    color: $dark;
  }
  &__subtitle {
    color: $dark;
    margin-bottom: 32px;
  }
  &__form {
    margin: 79px 0;
  }
  &__form_wrap {
    display: flex;
  }
  &__form_input {
    height: 56px;
    background: $light;
    padding: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    border: none;
    margin-right: 32px;
    max-width: 257px;
    &::placeholder {
      color: $dark_7;
    }
  }
  &__form_btn {
    background: $dark;
    color: $light;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 16px 32px;
    transition: .35s;
    margin-right: 0;
    &:hover {
      background: $dark_7;
      color: $light;
      transition: .35s;
    }
  }
  &__form_label {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    margin-top: 32px;
    > .callback__form_checkbox:checked + .callback__form_checkbox-span::after {
      content: "";
      position: absolute;
      transition: all .2s ease;
      left: 3px;
      top: 50%;
      width: 13px;
      height: 9px;
      border-radius: 1px;
      border-left: 3px solid $default;
      border-bottom: 3px solid $default;
      transform: translate(0,-66%) rotate(-45deg);
    }
  }
  &__form_checkbox {
    position: absolute;
    left: 0;
    visibility: hidden;
  }
  &__form_checkbox-span {
    display: block;
    margin-right: 16px;
    width: 20px;
    height: 20px;
    min-width: 20px;
    border: 0.5px solid $dark_5;
    background: $light;
    position: relative;
  }
  &__form_label_link {
    color: $dark;
    transition: .35s;
    &:hover {
      color: $light;
      transition: .35s;
    }
  }
}
@include laptop {
  .callback__form_btn {
    font-size: 16px;
    line-height: 20px;
  }
  .callback__form_input {
    font-size: 14px;
    line-height: 17px;
  }
}
@include tablet {
  .callback__form_wrap {
    flex-direction: column;
    align-items: center;
  }
  .callback__title {
    text-align: center;
  }
  .callback__subtitle {
    text-align: center;
  }
  .callback__form {
    margin: 32px 0;
  }
  .callback__form_input {
    margin-bottom: 32px;
    margin-right: 0;
    max-width: 400px;
    width: 90%;
  }
  .callback__form_btn {
    width: fit-content;
    margin-bottom: 0;
  }
  .callback__form_label {
    max-width: 400px;
    width: 90%;
    margin: 32px auto 0;
  }
}
/*****Reviews*****/
.reviews {
  background: url(../img/reviews/reviews-bg.jpg) no-repeat center center/cover;
  &__slider {
    position: relative;
    margin-bottom: 32px;
  }
  &__item_head {
    padding: 16px 32px;
    background: $default;
    color: $light;
  }
  &__item_head_icon {
    width: 22px;
    height: 20px;
    margin-bottom: 16px;
  }
  &__item_head_name {
    margin-bottom: 16px;
  }
  &__item_body {
    padding: 32px;
    background: $light;
  }
  &__slider_button {
    width: 10px;
    height: 21px;
    position: absolute;
    top: 50%;
    z-index: 2;
    outline: none;
    cursor: pointer;
  }
  &__button-prev {
    left: 0;
    transform: translate(-16px, -50%);
  }
  &__button-next {
    right: 0;
    transform: translate(16px, -50%);
  }
  &__btn {
    background: $dark;
    color: $light;
    text-transform: uppercase;
    transition: .35s;
    padding: 16px 32px;
    display: block;
    width: fit-content;
    margin: 0 auto 32px;
    order: 1;
    &:hover {
      background: $dark_7;
      color: $light;
      transition: .35s;
    }
  }
  &__swiper-pagination {
    display: flex;
    width: fit-content;
    height: 10px;
    margin: 0 auto;
  }
  &__swiper-pagination_wrap {
    position: relative;
    padding: 0 32px;
    width: fit-content;
    margin: 0 auto;
    order: 2;
  }
  &__swiper_bullet {
    width: 10px;
    height: 10px;
    margin-right: 16px;
    background: $light;
    &:last-child {
      margin-right: 0;
    }
    &:focus {
      outline: none;
    }
    &:active {
      outline: none;
    }
    &:hover {
      outline: none;
    }
  }
  &__swiper_bullet-active {
    background: $secondary;
  }
}
@media screen and (max-width: 1300px) {
  .reviews__slider {
    width: 98%;
    margin: 0 auto 32px;
  }
}
@include tablet {
  .reviews {
    background: $dark_3;
  }
  .reviews__button-prev {
    transform: translate(0px, -50%);
  }
  .reviews__button-next {
    transform: translate(0px, -50%);
  }
  .reviews__mobile_nav {
    display: flex;
    flex-direction: column;
  }
  .reviews__btn {
    order: 2;
    margin-bottom: 0;
  }
  .reviews__swiper-pagination_wrap {
    order: 1;
    margin-bottom: 32px;
  }
}
