.icon-moon {
  color: $light;
  font-size: 30px;
  transition: .35s;
  &:hover {
    color: $secondary;
    transition: .35s;
  }
}
.header {  
  background: $dark_3;
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
  }
  &__logo {
    max-width: 143px;    
  }
  &__contacts_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 58%;
    width: 100%;
  }
  &__contacts_item {
    display: flex;
    flex-direction: column;
    &_inner {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__contacts_item_icon {
    max-width: 20px;
    max-height: 20px;
    margin-right: 16px;
  }
  &__contacts_item_content-light {
    color: $light;
  }
  &__contacts_item_content-secondary {
    color: $secondary;
  }
  &__contacts_item-link {
    transition: .35s;
    &:hover {
      color: $light;
      transition: .35s;
    }
  }
  &__social_list {
    display: flex;
    align-items: center;
  }
  &__social_item {
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__social_link-vk {
    font-size: 27px;
  }
  &__social_link {
    &:hover .header__social_link~icon-moon {
      color: red;

    }
  }
  &__social_list-mobile {
    align-items: center;
    justify-content: center;
    background: transparent!important;
  }
  &__social_item-mobile {
    margin: 0 16px 0 0!important;
    border-bottom: 0px!important;
    &:last-child {
      margin-right: 0;
    }
  }
  &__social_link-mobile {
    padding: 16px 0!important;
    margin: 0 32px 0 0!important;
    font-size: 30px!important;
    &:last-child {
      margin: 0 0 0 0!important;
    }
  }
}

@media screen and (max-width: 1100.5px) {
  .header__wrap {
    display: none;
  }
  .header__social_list-mobile {
    display: flex!important;
  }
}

/*****Main Nav*****/

.main-nav {
  background: $dark;
  border-radius: 0px;
  max-height: 90vh;
  overflow-y: auto;
}
.sm-clean {
  background: none;
}
.main-nav__logo {
  max-width: 143px;
  display: none;
}
@media screen and (max-width: 1100.5px) {
  .main-nav {
    background: $dark_3;
  }
  .main-nav__logo {
    display: block;
  }
  .main-nav {
    padding: 16px 0;
  }
}
@media screen and (max-width: 400px) {
  .main-nav__logo {
    max-width: 73px;
  }
}
.main-nav:after {
  clear: both;
  content: "\00a0";
  display: block;
  height: 0;
  font: 0px/0 serif;
  overflow: hidden;
}

@media (min-width: 1100.5px) {
  #main-menu {
    display: flex;
    align-items: center;
    border-radius: 0px; 
  }
  .main-nav {
    >.container-fluid {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .sm-clean {
    padding: 0;
    width: 100%;
    li {
      padding: 0 16px 0 16px;
      &:first-child {
        padding: 0 16px 0 0;
      }
      &:last-child {
        // padding: 0 0 0 16px;
        margin-left: auto;
        display: block;
        padding: 0;
        color: $light;
        background: $default;
        text-transform: uppercase;
        transition: .35s;
        a {
          padding: 16px 32px!important;
          color: $light;
        }
        &:hover {
          background: $default_d3;
          transition: .35s;
          color: $light;
        &:hover a {
          color: $light;
        }
      }

      }
      a {
        
        padding: 34px 0!important;
        color: $light;
        text-transform: uppercase;
        transition: .35s;        
        &:hover {
          color: $default;
          transition: .35s;
        }
      }
    }
  }
}


/* Mobile menu toggle button */

.main-menu-btn {
  float: right;
  margin: 30px 10px;
  position: relative;
  display: inline-block;
  width: 29px;
  height: 29px;
  text-indent: 29px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media screen and (max-width: 400px) {
  .main-menu-btn {
    margin: 10px;
  }
  .sm-clean {
    margin-top: 16px;
    a {
      padding: 13px 20px 13px 0px;
    }
  }
}

/* hamburger icon */

.main-menu-btn-icon,
.main-menu-btn-icon:before,
.main-menu-btn-icon:after {
  position: absolute;
  top: 50%;
  left: 2px;
  height: 2px;
  width: 24px;
  background: $light;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.main-menu-btn-icon:before {
  content: '';
  top: -7px;
  left: 0;
}

.main-menu-btn-icon:after {
  content: '';
  top: 7px;
  left: 0;
}


/* x icon */

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
  height: 0;
  background: transparent;
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* hide menu state checkbox (keep it visible to screen readers) */

#main-menu-state {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}


/* hide the menu in mobile view */

#main-menu-state:not(:checked) ~ #main-menu {
  display: none;
}

#main-menu-state:checked ~ #main-menu {
  display: block;
}

@media (min-width: 1100.5px) {
  /* hide the button in desktop view */
  .main-menu-btn {
    position: absolute;
    top: -99999px;
  }
  /* always show the menu in desktop view */
  #main-menu-state:not(:checked) ~ #main-menu {
    display: flex;
  }
}

@media screen and (max-width: 1100.5px) {
  .sm-clean {
    li {
      border-bottom: 1px solid $light;
      &:last-child {
        margin: 8px auto;
      }
    }
  }
}
.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

